# Name of the Namespace to use
namespace: mongodb

# OpenShift manages security context on its own
managedSecurityContext: true

operator:
  # Execution environment for the operator, dev or prod. Use dev for more verbose logging
  env: prod

  # Name that will be assigned to most of internal Kubernetes objects like ServiceAccount, Role etc.
  name: mongodb-enterprise-operator

  # Name of the operator image
  operator_image_name: mongodb-enterprise-operator-ubi

  # Version of mongodb-enterprise-operator
  version: 1.17.1

  # The Custom Resources that will be watched by the Operator. Needs to be changed if only some of the CRDs are installed
  watchedResources:
  - mongodb
  - opsmanagers
  - mongodbusers

  nodeSelector: {}

  tolerations: []

  affinity: {}

  resources:
    requests:
      cpu: 500m
      memory: 200Mi
    limits:
      cpu: 1100m
      memory: 1Gi

## Database
database:
  name: mongodb-enterprise-database-ubi
  version: 2.0.2

initDatabase:
  name: mongodb-enterprise-init-database-ubi
  version: 1.0.12

## Ops Manager
opsManager:
  name: mongodb-enterprise-ops-manager-ubi

initOpsManager:
  name: mongodb-enterprise-init-ops-manager-ubi
  version: 1.0.9

initAppDb:
  name: mongodb-enterprise-init-appdb-ubi
  version: 1.0.12

agent:
  name: mongodb-agent-ubi
  version: 11.12.0.7388-1

mongodb:
  name: mongodb-enterprise-appdb-database-ubi
  repo: quay.io/mongodb


## Registry
registry:
  # The pull secret must be specified
  imagePullSecrets:
  pullPolicy: Always
  database: quay.io/mongodb
  operator: quay.io/mongodb
  initDatabase: quay.io/mongodb
  initOpsManager: quay.io/mongodb
  opsManager: quay.io/mongodb
  initAppDb: quay.io/mongodb
  appDb: quay.io/mongodb
  agent: quay.io/mongodb

# Versions listed here are used to populate RELATED_IMAGE_ env variables in the operator deployment.
# Environment variables prefixed with RELATED_IMAGE_ are used by operator-sdk to generate relatedImages section
# with sha256 digests pinning for certified operator bundle with disconnected environment feature enabled.
# https://docs.openshift.com/container-platform/4.11/operators/operator_sdk/osdk-generating-csvs.html#olm-enabling-operator-for-restricted-network_osdk-generating-csvs
relatedImages:
  opsManager:
  - 5.0.0
  - 5.0.1
  - 5.0.2
  - 5.0.3
  - 5.0.4
  - 5.0.5
  - 5.0.6
  - 5.0.7
  - 5.0.8
  - 5.0.9
  - 5.0.10
  - 5.0.11
  - 5.0.12
  - 5.0.13
  - 5.0.14
  - 5.0.15
  - 6.0.0
  - 6.0.1
  - 6.0.2
  - 6.0.3
  mongodb:
  - 4.2.11-ent
  - 4.2.2-ent
  - 4.2.6-ent
  - 4.2.8-ent
  - 4.4.0-ent
  - 4.4.11-ent
  - 4.4.4-ent
  - 5.0.1-ent
  - 5.0.5-ent
  agent:
  - 11.0.5.6963-1
  - 11.12.0.7388-1
  - 12.0.4.7554-1
subresourceEnabled: true
