# Name of the Namespace to use
namespace: mongodb

# Set this to true if your cluster is managing SecurityContext for you.
# If running OpenShift (Cloud, Minishift, etc.), set this to true.
managedSecurityContext: true

operator:
  webhook:
    # registerConfiguration setting (default: true) controls if the operator should automatically register ValidatingWebhookConfiguration and if required for it cluster-wide roles should be installed.
    #
    # Setting false:
    #  - Adds env var MDB_WEBHOOK_REGISTER_CONFIGURATION=false to the operator deployment.
    #  - ClusterRole and ClusterRoleBinding required to manage ValidatingWebhookConfigurations will not be installed
    #  - The operator will not create ValidatingWebhookConfigurations upon startup.
    #  - The operator will not create the service for the webhook. If the `operator-webhook` service was created before, it will be deleted.
    #  - The operator will still expose the webhook's endpoint on port on MDB_WEBHOOK_PORT (if not specified, the operator uses a default 1993) in case the ValidatingWebhookConfigurations is configured externally (e.g. in OLM/OpenShift) or by the administrator manually.
    #
    # Setting true:
    #  - It's the default setting, behaviour of the operator w.r.t. webhook configuration is the same as before.
    #  - operator-webhook service will be created by the operator
    #  - ClusterRole and ClusterRoleBinding required to manage ValidatingWebhookConfigurations will be installed.
    #  - ValidatingWebhookConfigurations will be managed by the operator (requires cluster permissions)
    registerConfiguration: true

  # Versions listed here are used to populate RELATED_IMAGE_ env variables in the operator deployment.
  # Environment variables prefixed with RELATED_IMAGE_ are used by operator-sdk to generate relatedImages section
  # with sha256 digests pinning for the certified operator bundle with disconnected environment feature enabled.
  # https://docs.openshift.com/container-platform/4.14/operators/operator_sdk/osdk-generating-csvs.html#olm-enabling-operator-for-restricted-network_osdk-generating-csvs
  version: 1.5.0
relatedImages:
  opsManager:
  - 6.0.26
  - 6.0.27
  - 7.0.11
  - 7.0.12
  - 7.0.13
  - 7.0.14
  - 7.0.15
  - 7.0.17
  - 7.0.18
  - 8.0.0
  - 8.0.1
  - 8.0.2
  - 8.0.3
  - 8.0.4
  - 8.0.5
  - 8.0.6
  - 8.0.7
  - 8.0.11
  - 8.0.12
  - 8.0.13
  - 8.0.14
  mongodb:
  - 4.4.0-ubi8
  - 4.4.1-ubi8
  - 4.4.2-ubi8
  - 4.4.3-ubi8
  - 4.4.4-ubi8
  - 4.4.5-ubi8
  - 4.4.6-ubi8
  - 4.4.7-ubi8
  - 4.4.8-ubi8
  - 4.4.9-ubi8
  - 4.4.10-ubi8
  - 4.4.11-ubi8
  - 4.4.12-ubi8
  - 4.4.13-ubi8
  - 4.4.14-ubi8
  - 4.4.15-ubi8
  - 4.4.16-ubi8
  - 4.4.17-ubi8
  - 4.4.18-ubi8
  - 4.4.19-ubi8
  - 4.4.20-ubi8
  - 4.4.21-ubi8
  - 5.0.0-ubi8
  - 5.0.1-ubi8
  - 5.0.2-ubi8
  - 5.0.3-ubi8
  - 5.0.4-ubi8
  - 5.0.5-ubi8
  - 5.0.6-ubi8
  - 5.0.7-ubi8
  - 5.0.8-ubi8
  - 5.0.9-ubi8
  - 5.0.10-ubi8
  - 5.0.11-ubi8
  - 5.0.12-ubi8
  - 5.0.13-ubi8
  - 5.0.14-ubi8
  - 5.0.15-ubi8
  - 5.0.16-ubi8
  - 5.0.17-ubi8
  - 5.0.18-ubi8
  - 6.0.0-ubi8
  - 6.0.1-ubi8
  - 6.0.2-ubi8
  - 6.0.3-ubi8
  - 6.0.4-ubi8
  - 6.0.5-ubi8
  - 8.0.0-ubi8
  - 8.0.0-ubi9
  agent:
  - 107.0.12.8669-1
  - 107.0.13.8702-1
  - 107.0.15.8741-1
  - 107.0.17.8771-1
  - 107.0.18.8784-1
  - 108.0.1.8718-1
  - 108.0.11.8830-1
  - 108.0.12.8846-1
  - 108.0.13.8870-1
  - 108.0.2.8729-1
  - 108.0.3.8758-1
  - 108.0.4.8770-1
  - 108.0.6.8796-1
  - 108.0.7.8810-1
  - 12.0.35.7911-1
  - 13.41.0.9830-1
  mongodbLegacyAppDb:
  - 4.2.11-ent
  - 4.2.2-ent
  - 4.2.24-ent
  - 4.2.6-ent
  - 4.2.8-ent
  - 4.4.0-ent
  - 4.4.11-ent
  - 4.4.4-ent
  - 4.4.21-ent
  - 5.0.1-ent
  - 5.0.5-ent
  - 5.0.6-ent
  - 5.0.7-ent
  - 5.0.14-ent
  - 5.0.18-ent
