# This is a basic workflow to help you get started with Actions

name: Release Charts

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the main branch
on:
  push:
    branches:
      - main
    paths-ignore:
      - '.github/**'

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Install Helm
        uses: azure/setup-helm@v1
        with:
          version: v3.4.0

      - name: Add Helm repos
        run: |
          helm repo add mongodb https://mongodb.github.io/helm-charts

      - name: Prepare dependencies first
        id: dependencies
        run: |
          # move all dependencies into folder
          folder="dependencies"
          mkdir -p $folder
          cp charts/atlas-operator-crds $folder/atlas-operator-crds
          echo "::set-output name=folder::$folder"

      - name: Helm Chart Releaser. Dependencies first
        uses: helm/chart-releaser-action@v1.2.1
        env:
          CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
        with:
          # The GitHub Pages URL to the charts repo (default: https://<owner>.github.io/<repo>)
          charts_dir: ${{ steps.dependencies.outputs.folder }}
          charts_repo_url: https://mongodb.github.io/helm-charts

      - name: Helm Chart Releaser
        # You may pin to the exact commit or the version.
        # uses: helm/chart-releaser-action@97237943efb7a48269d47a642ec5fdff675aa55f
        uses: helm/chart-releaser-action@v1.2.1
        env:
          CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
        with:
          # The GitHub Pages URL to the charts repo (default: https://<owner>.github.io/<repo>)
          charts_repo_url: https://mongodb.github.io/helm-charts
